.headLink {
    width: 130px;
    height: 80px;
    text-align: center;
    color: #ccc;
    font-size: 18px;
    font-family: "Open Sans", verdana;
    padding-top: 22px;
    cursor: pointer;
    display: inline-block;
}

.logo {
    text-align: center;
    color: #ccc;
    font-size: 18px;
    font-family: "Open Sans", verdana;
    cursor: pointer;
    display: inline-block;
}

.headLink:hover {
    background: green;
}

.right {
    float: right;
}

#container {
    position: fixed;
    top: 40px;
    left: 0;
    background: #eee;
    width: 100%;
    height: calc(100% - 44px);
}

.content-area {
    position: fixed;
    width: 700px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -350px;
}

#sub-container {
    margin: auto;
    position: absolute;
    top: 0px;
    left: 200px;
    background: #fff;
    width: 60%;
    height: calc(100% - 44px);
}

#sideBarWithLogo {
    position: absolute;
    top: 0px;
    left: 0;
    width: 300px;
    height: 500px;
    background: #eee;
    text-align: center;
}

#helpText {
    position: absolute;
    top: 220px;
    left: 300px;
    width: 400px;
    background: #eee;
    text-align: justify;
    margin-left: 0px;
    margin-top: 0px;
    font-size: 15px;
}

#appTitle {
    width: 400px;
    text-align: center;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: #222;
    text-align: center;
    color: #ccc;
    font-size: 12px;
    font-family: "Open Sans", verdana;
    padding-top: 7px;
}

.bigFont {
    font-size: 40px;
    font-weight: bold;
}

.mediumFont {
    font-size: 18px;
    font-weight: bold;
}

.smallFont {
    font-size: 14px;
}

#uploadLogo {
    width: 150px;
    height: 50px;
    background: url("../img/upload_b.png");
    background-size: 100% 100%;
    z-index: 100;
    cursor: pointer;
    margin-left: 25px;
    margin-right: 25px;
    display: inline-block;
}

#downloadLogo {
    width: 150px;
    height: 50px;
    background: url("../img/download_b.png");
    background-size: 100% 100%;
    z-index: 100;
    margin-left: 20px;
    cursor: pointer;
    display: inline-block;
}

.action-buttons {
    position: absolute;
    top: 130px;
    left: 300px;
    width: 400px;
    height: 50px;
}

#templateSelect {
    position: absolute;
    left: 300px;
    top: 0;
    width: 400px;
    margin-left: 0px;
    margin-top: 0px;
    font-size: 15px;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 20000;
}

#loaderWheel {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
    background: url("../img/loader.gif");
    background-size: 100% 100%;
}

#loaderMsg {
    position: absolute;
    width: 100%;
    height: 35px;
    bottom: 0px;
    background: #444;
    background-size: 100% 100%;
    text-align: center;
    color: #ccc;
    font-size: 15px;
    font-family: "Open Sans", verdana;
    padding-top: 7px;
}
